* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  font-family: "Nb international pro", sans-serif;
}

@font-face {
  font-family: "Nb international pro";
  src: url("https://uploads-ssl.webflow.com/6054be9e3328955c76eebcb8/6054bf0451f8f68339871998_NB%20International%20Pro%20Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
